<a href="https://colab.research.google.com/github/Daniel-R-Armstrong/geo2vec/blob/master/geo2vec_Census_Tract_Housing_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Census Tract Housing Classification

## Census Tract Classification Types


>### **Urban Core**: 
> density > 2,900 sq. km  
>### **Older Suburban**:
> median house built 1946 to 1979,   
> density < 2,900 sq. km and density > 100 sq. km  
>### **Suburban**:
> median house built after 1979,
> density < 2,900 sq. km and density > 100 sq. km  
>### **New Suburban**:
> median house built after 2000,
> density < 2,900 sq. km and density > 100 sq. km
>### **Exurban**: 
>All others  

This Idea of classification is based on the concepts from [newgeography.com](http://www.newgeography.com/content/004349-from-jurisdictional-functional-analysis-urban-cores-suburbs)  and [IBM's Data Lab](https://github.com/ibm-watson-data-lab/open-data/blob/master/urbanity) I amended it to fit my needs. This concept is based on how urban citys grew and the impact of cars, I added a section for newly created surburban areas created during and after the housing boom.

##Setup

In [ ]:
inputs('ACSDT5Y2017_il_data_2.csv': "a modified version of 2017 ACS")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
cd /content/drive/'My Drive'/data/geo2vec/il/data/loop_listings

/content/drive/My Drive/data/geo2vec/il/data/loop_listings

In [ ]:
ls

In [ ]:
import pandas as pd

## ACS
(tract 'population' and 'Median year built')

In [ ]:
def num2str(i):
    return str(i)

converters = {'GEOID10' : num2str,
              'state_fips' : num2str,
              'county_fips' : num2str,
              'tract_fips' : num2str,
              'GEOID_ST_CTY_TRT_2010' : num2str,
              'state' : num2str,
              'county' : num2str,
              'tract' : num2str}

In [ ]:
#load in the 2017 acs file 
acs=pd.read_csv('ACSDT5Y2017_il_data_2.csv',index_col=0, converters=converters)
acs.head(5)

   B01001A_001E  B25001_001E  ...   tract_fips  GEOID_ST_CTY_TRT_2010
0          4967         1898  ...  17197881002            17197881002
1          6152         2047  ...  17197881105            17197881105
2          5062         1875  ...  17197880502            17197880502
3          2609         1579  ...  17197883700            17197883700
4          3999         2385  ...  17197880105            17197880105

[5 rows x 59 columns]

In [ ]:
acs = acs.set_index('GEOID_ST_CTY_TRT_2010') #state, County, tract, 2010 vintage
acs['population'] = acs.B01001A_001E
acs['median_year_built']=acs.B25035_001E

## TIGER tract shape file 
(tract land area)

TIGER/Line Shapefiles and Geodatabases pre-joined with 2010 Census select Demographic Profile data, which is a nice way you explore and visilulaize your data, the biggest problem is that it is now almost 10 years old. Since the tracts dont change it is ok to us them and combine it with more recent demograpic data from other sources.

In [ ]:
#!wget https://www2.census.gov/geo/tiger/TIGER2010DP1/Tract_2010Census_DP1.zip  -nv

In [ ]:
# # Unzip
# import zipfile
# zf = zipfile.ZipFile('Tract_2010Census_DP1.zip')
# zf.extractall()

In [ ]:
!pip install geopandas -q

     |████████████████████████████████| 901kB 3.3MB/s
     |████████████████████████████████| 17.9MB 40.1MB/s
     |████████████████████████████████| 11.2MB 41.4MB/s
  Building wheel for munch (setup.py) ... done

In [ ]:
import geopandas as gpd

In [ ]:
#Tract_2010Census_DP1.shp:
# load tracts shapefile that contains pop data
tiger_2010 = gpd.read_file('Tract_2010Census_DP1.shp',converters=converters) 
len(tiger_2010)

74002

In [ ]:
tiger_2010.AREA_M_SQ

In [ ]:
tiger_2010.rename(columns={'ALAND10' : 'AREA_M_SQ', 'GEOID10' : 'GEOID_ST_CTY_TRT_2010'},inplace=True)

In [ ]:
tiger_2010.to_pickle('tiger_2010')

### optional filter (just chicago land)

In [ ]:
Dont use if you are using multiple states


# filter to retain only tracts in chicago

state = '17'
counties = ['031','037','043', '063', '089', '093','097', '111', '197']
state_counties = ['{}{}'.format(state, county) for county in counties]
tiger_2010['state_county'] = tiger_2010['GEOID10'].map(lambda x: x[0:5])


#17031. Cook County, IL (5,236,393)
#17037. DeKalb County, IL (104,345)
#17043. DuPage County, IL (930,412)
#17063. Grundy County, IL (50,277)
#17089. Kane County, IL (524,886)
#17093. Kendall County, IL (120,036)
#17097. Lake County, IL (702,898)
#17111. McHenry County, IL (307,357)
#17197. Will County, IL (683,995)

In [ ]:
tiger_2010.head(3)

       GEOID10  ...                                           geometry
0  01005950300  ...  POLYGON ((-85.52743699999996 31.86650300000008...
1  01005950900  ...  POLYGON ((-85.16412199999996 31.83059499999996...
2  01005950800  ...  POLYGON ((-85.14871799999997 31.909335, -85.14...

[3 rows x 195 columns]

In [ ]:
# The GEOID is not always the same so I use GEOID_ST_CTY_TRT_2010 so I know it meets my standard (len=11,state=2, county=3, tract=6)
tiger_2010.rename(columns={'GEOID10':'GEOID_ST_CTY_TRT_2010','ALAND10': 'AREA_M_SQ'},inplace=True)

### Area Subset

In [ ]:
# # retain only subset of columns then index by tract fips code
# tracts = tracts_chicago[['geometry', 'ALAND10', 'DP0010001']]
# tracts.index = tracts_chicago['GEOID10']
# tracts.head(3)

#use all
tiger_tracts = tiger_2010[['GEOID_ST_CTY_TRT_2010','geometry', 'AREA_M_SQ']]
tiger_tracts.index = tiger_tracts['GEOID_ST_CTY_TRT_2010']
#tracts.head(3)
len(tiger_tracts)

74002

In [ ]:
tiger_tracts.to_pickle('tiger_tracts_GEO_Area_2010')

In [ ]:
ls

## Merge 
(acs and tiger)

In [ ]:
# merge acs and tiger
acs_tiger = pd.merge(acs, tiger_tracts, how='left', left_index=True, right_index=True) 
len(acs_tiger)

3123

In [ ]:
# acs_tiger.head(3)

### Population Density
(persons per square kilometer)

persons per square km = persons / (area in square meters / 1,000,000)  
persons per hectare = persons / (area in square meters / 10,000)

In [ ]:
acs_tiger['POP_PER_KM_SQ'] = acs_tiger['population'] / (acs_tiger['AREA_M_SQ']/1000000)
acs_tiger.sample(4)

                       B01001A_001E  B25001_001E  ...    AREA_M_SQ  POP_PER_KM_SQ
GEOID_ST_CTY_TRT_2010                             ...
17031803016                    1317          950  ...    1029964.0    1278.685469
17091011000                     347         1053  ...  143639350.0       2.415773
17027900500                    5679         2392  ...  181159675.0      31.348036
17061973700                    1775          954  ...   11599105.0     153.029048

[4 rows x 64 columns]

### Housing Classification

In [ ]:
def classification(df):
    if (df['POP_PER_KM_SQ'] >= 2900):
        return 'URBAN CORE'
    elif (df['POP_PER_KM_SQ'] < float(2900) and df['POP_PER_KM_SQ'] >= float(100) and df['median_year_built'] >= float(2000)): 
        return 'NEW SUBURBAN'
    elif (df['POP_PER_KM_SQ'] < float(2900) and df['POP_PER_KM_SQ'] >= float(100) and df['median_year_built'] >= float(1980)): 
        return 'SUBURBAN'
    elif (df['POP_PER_KM_SQ'] < float(2900) and df['POP_PER_KM_SQ'] >= float(100) and df['median_year_built'] < float(1980) and df['median_year_built'] >= float(1946)):  
        return 'OLDER SUBURBAN' 
    else:
        return 'EXURBAN'

In [ ]:
acs_tiger['classification'] = acs_tiger.apply(classification, axis=1)

In [ ]:
#acs_tiger.head(10)

In [ ]:
acs_tiger.classification.describe()

count               3123
unique                 4
top       SUBURBAN_EARLY
freq                1171
Name: CAT, dtype: object